*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .burger{
        display: none;
    }
    div{
        display: flex;
        align-items: center;
        gap: 50px;
        button{
            padding: 15px 30px;
            border: none;
            background-color: #608AF5;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 700;
        }
    }
}
.hero{
    max-width: 1200px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    .hero1{
        display: flex;
        flex-direction: column;
        gap: 40px;
        h4{
            color: #002265;
            font-size: 35px;
            font-weight: 400;
        }
        h1{
            color: #002265;
            font-size: 50px;
            font-weight: 600;
            width: 70%;
        }
        p{
            color: #082032;
            font-size: 23px;
            font-weight: 400;
            width: 60%;
        }
    }
}
@media (max-width: 600px){
    .navbar{
        div{
            display: none;
        }
        .burger{
            display: block;
        }
    }
    .hero{
        max-width: 1200px;
        height: 450px;
        margin: auto;
        margin-top: 70px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .hero-img{
            width: 80%;
        }
        .hero1{
            display: flex;
            flex-direction: column;
            padding: 30px;
            gap: 30px;
            h4{
                color: #002265;
                font-size: 25px;
                font-weight: 400;
            }
            h1{
                color: #002265;
                font-size: 30px;
                font-weight: 600;
                width: 100%;
            }
            p{
                color: #082032;
                font-size: 20px;
                font-weight: 400;
                width: 100%;
            }
        }
    }
}