* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .burger {
  display: none;
}
.navbar div {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar div button {
  padding: 15px 30px;
  border: none;
  background-color: #608AF5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}

.hero {
  max-width: 1200px;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  display: flex;
}
.hero .hero1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero .hero1 h4 {
  color: #002265;
  font-size: 35px;
  font-weight: 400;
}
.hero .hero1 h1 {
  color: #002265;
  font-size: 50px;
  font-weight: 600;
  width: 70%;
}
.hero .hero1 p {
  color: #082032;
  font-size: 23px;
  font-weight: 400;
  width: 60%;
}

.pass {
  max-width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.pass h1 {
  color: #14279B;
  font-size: 35px;
  font-weight: 400;
}
.pass .pass1 {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 280px;
  gap: 30px;
  justify-content: space-between;
}
.pass .pass-item {
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.168627451);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pass .pass-item h1 {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
}

.clon {
  max-width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
.clon h1 {
  color: #14279B;
  font-size: 35px;
  font-weight: 400;
}
.clon .clon1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnt {
  max-width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0px;
}
.cnt h1 {
  color: #14279B;
  font-size: 35px;
  font-weight: 400;
}
.cnt .cntx {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.cnt .cnt1 {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cnt .cnt1 .cnt-fon {
  width: 165px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./foncha.png");
  background-position: center;
  background-repeat: no-repeat;
}
.cnt .cnt1 .cnt-ps h1 {
  color: #3F3D56;
  font-size: 35px;
  font-weight: 500;
  position: relative;
  right: 30px;
  margin-top: 10px;
}

footer {
  width: 100%;
  height: 300px;
  background-image: url("./foot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h1 {
  color: white;
  position: relative;
  top: 110px;
}

@media (max-width: 600px) {
  .navbar div {
    display: none;
  }
  .navbar .burger {
    display: block;
  }
  .hero {
    max-width: 1200px;
    height: 450px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-img {
    width: 80%;
  }
  .hero .hero1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
  }
  .hero .hero1 h4 {
    font-size: 25px;
  }
  .hero .hero1 h1 {
    font-size: 30px;
    width: 100%;
  }
  .hero .hero1 p {
    font-size: 20px;
    width: 100%;
  }
  .pass {
    max-width: 1200px;
    height: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .pass h1 {
    color: #14279B;
    font-size: 35px;
    font-weight: 400;
  }
  .pass .pass1 {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(3, 270px);
    gap: 30px;
  }
  .pass .pass-item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pass .pass-item h1 {
    font-size: 25px;
  }
  .clon {
    margin-top: 350px;
  }
  .clon1 {
    flex-direction: column;
  }
  .cnt {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0px;
    position: relative;
    top: 300px;
  }
  .cnt h1 {
    color: #14279B;
    font-size: 35px;
    font-weight: 400;
  }
  .cnt .cntx {
    position: relative;
    bottom: 400px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .cnt .cnt1 {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cnt .cnt1 .cnt-fon {
    width: 165px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./foncha.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .cnt .cnt1 .cnt-ps h1 {
    color: #3F3D56;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    right: 30px;
    margin-top: 10px;
  }
  footer {
    margin-top: 700px;
  }
}/*# sourceMappingURL=style.css.map */